/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--general-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: auto;
}

.is-open {
  display: block;
}

.service {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-title.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
.service__title {
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .service__title {
    width: 360px;
  }
}
.service__wrapper {
  text-align: center;
}
.service__button {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.875;
  margin-top: 40px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.06em;
}
.service__button:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .quaility__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .quaility__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .quaility__item {
    width: 100%;
  }
  .quaility__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .quaility__item {
    margin-top: 0;
  }
}
.quaility__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  height: 120px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .quaility__icon-wrapper {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .quaility__icon-wrapper {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quaility__icon-wrapper {
    max-width: 270px;
  }
}
.quaility__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .quaility__title {
    text-align: start;
  }
}
.quaility__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin: 10px 0 0 0;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .quaility__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quaility__description {
    max-width: 270px;
  }
}

.team {
  background-color: #F5F4FA;
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.team__list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: baseline;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
}
.team__item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__item:not(:first-child) {
    margin-top: 30px;
  }
}
.team__photo {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__photo {
    width: 354px;
  }
}
.team__wrapper {
  padding: 30px 10px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  letter-spacing: 0.03em;
}
.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-top: 10px;
}
.team__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 16px;
}
.team__social-item {
  width: 44px;
  height: 44px;
}
.team__social-item:not(:first-child) {
  margin-left: 10px;
}
.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border-radius: 50%;
  transition: color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.team__social-icon {
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients__list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
  }
}
.clients__item {
  height: auto;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  transition: border-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}
.clients__icon {
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.filter__item {
  margin-bottom: 15px;
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .filter__item:nth-child(4) {
    margin: 0;
  }
  .filter__item:nth-child(5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
}
.filter__btn {
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn--active {
  color: #FFFFFF;
  background-color: #2196F3;
}
.filter__btn:hover, .filter__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
  }
}
.project__item {
  background-color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:not(:first-child) {
  margin-top: 30px;
}
.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
  }
  .project__item:not(:first-child) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
  }
  .project__item:not(:first-child) {
    margin-top: 0;
  }
}
.project__thumb-wrapper {
  position: relative;
  overflow: hidden;
}
.project__photo {
  display: block;
  width: 100%;
}
.project__overview {
  position: absolute;
  padding: 77px 24px;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(295px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover .project__overview {
  transform: translateY(0);
}
.project__wrapper {
  padding: 20px 24px;
  height: calc(100% - 294px);
  border: 1px solid #eee;
  border-top: none;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}
.project__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin-top: 4px;
  letter-spacing: 0.03em;
}

.page-footer {
  background-color: #2F303A;
  padding: 60px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-footer__item {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__item {
    margin-left: 76px;
    text-align: center;
  }
  .page-footer__item:not(:first-child) {
    margin-left: 165px;
  }
  .page-footer__item:last-child {
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__item:not(:first-child) {
    margin-left: 70px;
  }
  .page-footer__item:last-child {
    margin-left: 93px;
  }
}
.page-footer__logo--white {
  color: #FFFFFF;
}
.page-footer__address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: #FFFFFF;
  margin-top: 20px;
  letter-spacing: 0.03em;
}
.page-footer__join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  width: 146px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__join-title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__join-title {
    margin: 0;
  }
}
.page-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .page-footer__social-list {
    margin-bottom: 0;
  }
}
.page-footer__social-item {
  width: 44px;
  height: 44px;
}
.page-footer__social-item:not(:first-child) {
  margin-left: 10px;
}
.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__social-link:hover, .page-footer__social-link:focus {
  background-color: #2196F3;
}
.page-footer__social-icon {
  fill: currentColor;
}
.page-footer__contact {
  margin: 8px 0 0 0;
}

.footer-contact {
  list-style: none;
  padding: 0;
}
.footer-contact__item:not(:first-child) {
  margin-top: 8px;
}
.footer-contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: #2196F3;
}

.logo, .page-header__logo, .page-footer__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo, .page-header__logo, .page-footer__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 219px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    margin: 0;
  }
}
.subscribe__form {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    align-items: baseline;
  }
}
.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  padding: 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__input:placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  outline-width: 0;
}
.subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.875;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 29px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscribe__btn {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}
.subscribe__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.work {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  color: #212121;
  text-align: center;
}
.work__list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work__item {
  position: relative;
}
.work__image {
  display: block;
}
.work__explanation {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 5px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  padding: 26px 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header {
    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
    padding: 16px 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }
}
.page-header__wrapper {
  display: flex;
  align-items: center;
}
.page-header__nav {
  margin-left: 93px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__nav {
    margin-left: 88px;
  }
}
.page-header__contact {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contact {
    display: flex;
  }
}
.page-header__logo--black {
  color: #212121;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact {
    display: none;
  }
}
.contact__item:not(:first-child) {
  margin-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:first-child) {
    margin-left: 0;
  }
  .contact__item:last-child {
    margin-top: 10px;
  }
}
.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}
.nav__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
.nav__link--active {
  color: #2196F3;
  position: relative;
}
.nav__link--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
}

.mobile-menu-open-btn {
  color: #212121;
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 23px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767px) {
  .mobile-menu-open-btn {
    display: none;
  }
}
.mobile-menu-open-btn:hover, .mobile-menu-open-btn:focus {
  color: #2196F3;
}
.mobile-menu-open-btn__icon-menu, .mobile-menu-open-btn__icon-close {
  fill: currentColor;
}
.mobile-menu-open-btn__icon-close {
  display: none;
}
.mobile-menu-open-btn.is-open {
  z-index: 10;
}
.is-open .mobile-menu-open-btn__icon-close {
  display: block;
}
.is-open .mobile-menu-open-btn__icon-menu {
  display: none;
}

.menu-container {
  z-index: 1;
  background-color: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 796px;
  display: none;
  padding: 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  display: block;
}
.menu-container__nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .menu-container.is-open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link--active {
  color: #2196F3;
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
}
.mobile-nav__item:not(:first-child) {
  margin-top: 36px;
}
.mobile-nav__item:last-child {
  margin-top: 32px;
}

.mobile-contact {
  margin-top: 302px;
}
.mobile-contact__phone-link {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-contact__phone-item {
  margin-bottom: 32px;
}
.mobile-contact__mail-item {
  margin-bottom: 64px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .mobile-contact__mail-item {
    margin-bottom: 0;
  }
}
.mobile-contact__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.mobile-social__item:not(:first-child) {
  margin-left: 10px;
}
.mobile-social__item:not(:first-child)::before {
  content: "";
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */