h1, h2, h3, h4, p, ul {
    margin: 0;
}
body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--general-text-color);
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        max-width: 480px;    
    }
}
.section {
    padding: 60px 0px;
}
.list {
    list-style: none;
    align-items: center;
    padding-left: 0;
    margin: 0;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
}
