.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__input {
        display: none;

        &:checked + .checkbox__icon {
            background-color: $active-color;
            border-color: $active-color;
        }
    }

    &__icon {
        display: inline-block;
        width: 16px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid #212121;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &__privacy-link {
        color: $active-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__btn {
        background: #188CE8;
        border-radius: 4px;
        padding: 10px 55px;
        border: none;
        color: $white-color;
        width: 200px;
        height: 50px;
        transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        margin: 0 auto;
        display: block;
        margin-top: 30px;

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: #188CE8;
        }
    }
}