.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    &__content {
        position: relative;
        width: 528px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transform: scale(1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 40px;

        .is-hidden & {
            transform: scale(0.1);
        }
    }

    &__btn-closed {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $active-color;
        }
    }

    &__closed-icon {
        fill: currentColor;
    }

    &__title {
        text-align: center;
        color: #212121;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }

    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
        cursor: pointer;
    }

    &__input-wrapper {
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
        
        &:hover,
        &:focus {
            & .modal__icon {
                fill: $active-color;
            }
        }

    }

    &__icon {
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 14px;
        left: 15px;
        fill: #212121;
    }

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        padding-left: 42px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            outline-width: 0;
            border-color: $active-color;
        }

    }

    &__feedback-wrapper {
        margin-top: 4px;
        margin-bottom: 20px;
    }

    &__textarea {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }

        &:hover,
        &:focus {
            outline-width: 0;
            border-color: $active-color;
        }
    }
}