.page-header {
    border-bottom: 1px solid #ECECEC;
    background-color: $white-color;
    padding: 25px 0;

    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__nav {
        margin-left: 93px;
    }
    &__contact {
        margin-left: auto;
    }

    &__logo {
        @extend .logo;
        &--black {
            color: $general-text-color;
        }
    }

}