.service {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-mobile-1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-mobile-2x-min.jpg);        
        }
        @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-tab-1x-min.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-tab-2x-min.jpg);        
        }
        }
        @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-desctop-1x-min.jpg);
        padding: 200px 0;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/1x-2x/hero-desctop-2x-min.jpg);        
        }
        }    
    &__title {
        width: 100%;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-color;
        margin: 0 auto;
        @media screen and (min-width: 480px) {
            width: 360px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            width: 696px;
            line-height: 1.36;
        }

    }

    &__wrapper {
        text-align: center;
    }

    &__button {
        color: $white-color;
        background-color: $active-color;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.875;
        margin-top: 40px;
        border: none;
        border-radius: 4px;
        padding: 10px 32px; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        letter-spacing: 0.06em;
        
        &:hover {
            background-color: #188CE8;
        }
    }
}